<!DOCTYPE html>
<html>
<head>
    <title>Insight</title>
    <!-- you can insert your company image here -->
    <!--<link rel="icon" href="../static/logo.png">-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/awesomplete.css" />
<style>
  .medal {
      border-radius: 50px;
  }
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  .full-width {
    width: 100%;
    background: #ccc;
  }
  .wrap {
    width: 80%;
    max-width: 24em;
    margin: 0 auto;
    padding: 0.25em 0.625em;
  }
</style>
<script src="../static/awesomplete.js" async></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% if found %}
<script>
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawBasic);

  function drawBasic() {
    var area_to_counter = {{ area_to_counter|safe }};

    var my_arr = [['area', 'Contributed', 'Approved']];
    var amount_of_fields = area_to_counter.length;
    for (i=0; i<area_to_counter.length; ++i) {
      my_arr.push([
        area_to_counter[i].area,
        area_to_counter[i].author_counter,
        area_to_counter[i].approve_counter
        ]
      );
    }
    var data = google.visualization.arrayToDataTable(my_arr);
    var height_value = 1000;
    if (amount_of_fields > 50) {
      height_value *= 2.5;
    }
    var options = {
      chart: {
        title: 'Contribution Area',
      },
      chartArea: {width: '50%', height:'50%'},
      height: height_value,
      width: 1000,
      vAxis: {
        title: 'Packages'
      },
      bar: { groupWidth: "80%" },
      bars: 'horizontal' // Required for Material Bar Charts.
    };

    var chart = new google.charts.Bar(document.getElementById('chart_div_contributer'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
</script>
<script>
google.charts.load('current', {'packages':['gauge']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['Label', 'Value'],
    ['', {{ responsiveness }}]
  ]);

  var options = {
    width: 400, height: 120,
    redFrom:0, redTo: 20,
    yellowFrom:21, yellowTo: 54,
    greenFrom: 55, greenTo: 100,
    minorTicks: 5
  };

  var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

  chart.draw(data, options);
}
</script>
{% endif %}
</head>
<body class="w3-light-grey">

  <!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">
    <!-- Todo: you can put your company picture here -->
  <img src="" alt="Logo" style="width:35px;height:35px;"/>
  </span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/static/people/{{ my_photo_id }}" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
        <span>Welcome, <strong>{{ my_name }}</strong></span><br>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a href="../getMyPage" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Personal Contirbution</a>
      <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-eye fa-fw"></i>  Search By Person</a>
      <a href="../getSearchByArea" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Search By Area</a>
      <a href="../getTopContributors" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Top Contributors</a>
      <a href="../getTopPullRequesters" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Top "pull requesters"</a>
      <a href="../getHeatmap" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Code Heatmap</a>
      <a href="../getFaq" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  FAQ</a>
    </div>
  </nav>


  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-dashboard"></i> Code Contribution Search</b></h5>
    </header>

    <div class="w3-row-padding w3-margin-bottom">
      <form class="form-wrapper" action="/getSearchByPerson/" method="post">
        <!-- You can put in the data-list a list of the people you want this page to auto-complete there names,
        there are better implementation to auto complete but this is simple enough and works nicely -->
        <input type="text" class="awesomplete" name="searched_name" id="search" data-list="" value="{{ searched_name }}"/>
        <input type="submit" value="go" id="submit">
      </form>
    </div>
    <style>
      .pedding {
        padding-left: 1.5%;
      }

    </style>
    <div>
      {% if found %}
      <div class="pedding">
        <h4><b><i class="fa fa-dashboard"></i> {{ searched_name }} Code Contribution</b></h5>
        <div><img class="medal" src="../static/people/{{ photo_id }}" alt="Smiley face" width="100" height="100"></div>
        </br>
        <div><h4>Pull request responsiveness</h4></div>
        <div id="chart_div" style="width: 400px; height: 120px;"></div>
      </div>

      {% endif %}

      {% if not found and searched_name %}
        <h4><b><i class="fa fa-dashboard"></i> Could not find {{ searched_name }} Contribution</b></h5>
      {% endif %}
    </div>

    <div class="w3-panel">
      <div class="w3-row-padding">
        <div class="w3-third">
          <div id="chart_div_contributer"></div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
    </footer>

    <!-- End page content -->
  </div>

  <script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = 'block';
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = 'none';
        overlayBg.style.display = 'none';
    }
  </script>

</body>
</html>
