<!DOCTYPE html>
<html>
<head>
    <title>Insight</title>
    <!-- you can insert your company image here -->
    <!--<link rel="icon" href="../static/logo.png">-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.full-width {
  width: 100%;
  background: #ccc;
}
.wrap {
  width: 80%;
  max-width: 24em;
  margin: 0 auto;
  padding: 0.25em 0.625em;
}
</style>
<style>
.medal {
    padding: 10px 40px;
    background: #dddddd;
    border-radius: 50px;
    font-size: 20px;
}
.t_name {
    width: 150px;
    font-size: 20px;
}
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  var chart = null;
  var data = null;
  function selectHandler(e) {
    var item = chart.getSelection()[0];
    var str = data.getFormattedValue(item.row, 2);
    window.location.href = "/getSearchByPerson/" + str
  }

  var parsed_personsJs = JSON.parse('{{ persons|tojson }}');
  google.charts.load('current', {packages:["orgchart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    data = new google.visualization.DataTable();
    data.addColumn('string', 'Name');
    data.addColumn('string', 'Manager');
    data.addColumn('string', 'ToolTip');

    var curr_index = '';
    for (i = 0; i < parsed_personsJs.length; i++) {
      var medal = '';
      if (parsed_personsJs[i].place == 1) {
        medal = '<img class="medal" src="./static/gold.png" width="40" height="40">';
      } else if (parsed_personsJs[i].place == 2) {
        medal = '<img class="medal" src="./static/silver.png" width="40" height="40">';
      } else if (parsed_personsJs[i].place == 3) {
        medal = '<img class="medal" src="./static/bronze.png" width="40" height="40">';
      }
      var result = '<img class="medal" src="./static/people/' +
        parsed_personsJs[i].photo_id +
        '" alt="Smiley face" width="90" height="90"></br>' +
        '<p class="t_name">  ' + parsed_personsJs[i].place +
        ' (' + parsed_personsJs[i].counter + ')</p>' +
        medal +
        '<p class="t_name">' + parsed_personsJs[i].display_name + '</p>';
      var row_index = parsed_personsJs[i].place.toString();
      data.addRow([{v: row_index, f: result}, curr_index, parsed_personsJs[i].display_name]);
      curr_index = row_index;
  }
  chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
  chart.draw(data, {allowHtml:true});

  google.visualization.events.addListener(chart, 'select', selectHandler);
}
</script>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">
    <!-- Todo: you can put your company picture here -->
   <img src="" alt="Logo" style="width:35px;height:35px;"/>
  </span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/static/people/{{ my_photo_id }}" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>{{ my_name }}</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="../getMyPage" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Personal Contirbution</a>
    <a href="../getSearchByPerson" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Search By Person</a>
    <a href="../getSearchByArea" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Search By Area</a>
    <a href="../getTopContributors" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Top Contributors</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-bullseye fa-fw"></i>  Top "pull requesters"</a>
    <a href="../getHeatmap" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Code Heatmap</a>
    <a href="../getFaq" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  FAQ</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Top "Pull Requesters"</b></h5>
  </header>
  <div id="chart_div"></div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = 'block';
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = 'none';
    overlayBg.style.display = 'none';
}
</script>

</body>
</html>
